<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages/orders"></ion-back-button>
    </ion-buttons>
    <ion-title color="gold">Order Detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          {{order?.date | date}} - Total: {{order?.total || 0 |
          number}}</ion-item
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="text-align: center">
    [<app-order-status [status]="order.tracking"></app-order-status>]
  </div>
  <ion-list>
    <ion-list-header
      >Products
      <span style="text-align: left; margin-left: 35%"
        >TO: {{order?.orderTypeName}}</span
      ></ion-list-header
    >

    <ion-card *ngFor="let item of order?.items">
      <ion-card-header>
        <ion-label
          ><h4 style="text-align: center; font-weight: bold">
            {{item.productName}}
          </h4></ion-label
        >
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row style="padding: 0px !important; margin-left: 0px !important">
            <ion-col>
              <ion-label> Qty </ion-label>
              <ion-label style="text-align: center">
                {{item.quantity || 0}}
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-text>Price: {{item.price}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>Tax: {{item.taxes}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text
                >Total: {{ (item.quantity * item.price) +
                (item.taxes/100)}}</ion-text
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button color="danger" (click)="addClaim()" expand="full">
    ADD CLAIM
  </ion-button>
</ion-footer>
