<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="address"></ion-back-button>
    </ion-buttons>
    <ion-title>New Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input placeholder="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address 1</ion-label>
      <ion-input placeholder="Address 1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address 2</ion-label>
      <ion-input placeholder="Address 2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-select>
        <ion-select-option>
          City 1
        </ion-select-option>
        <ion-select-option>
          City 2
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">State</ion-label>
      <ion-select>
        <ion-select-option>
          State 1
        </ion-select-option>
        <ion-select-option>
          State 2
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Zip Code</ion-label>
      <ion-input placeholder="FirstName"></ion-input>
    </ion-item>
    <ion-button expand="full">
      Save
    </ion-button>
  </ion-list>
</ion-content>
