<ion-header>
  <ion-toolbar>
    <ion-title color="gold">{{product?.name || 'test'}}</ion-title>
    <ion-buttons slot="end">
      <ion-back-button
        icon="close-circle"
        color="danger"
        defaultHref="/pages/menu"
      ></ion-back-button>
      <!-- <ion-button color="danger">
        <ion-icon slot="icon-only" color="danger" name="close-circle">
        </ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    <ion-card>
      <ion-title color="gold">
        <h4 style="font-weight: bold">{{product.name || 'test'}}</h4>
      </ion-title>
      <ion-card-content>
        <ion-label> <strong>Price: </strong> {{product.price || 0}} </ion-label>
      </ion-card-content>
    </ion-card>

    <ion-row style="margin-top: 10px; padding: 0%">
      <ion-col>
        <ion-item>
          <ion-label slot="start"> Units </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-button (click)="add(-1)" fill="clear">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
          <!-- <ion-input name="quantity" type="number" min="0" [(ngModel)]="product.quantity"> -->
          <ion-label style="text-align: center">
            {{product.quantity || 0}}
          </ion-label>

          <ion-button (click)="add(1)" fill="clear">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-item style="margin-top: 10px">
      <ion-label position="stacked">Comment</ion-label>
      <ion-input placeholder="Enter any notes here..."> </ion-input>
    </ion-item> -->

    <strong> Modifiers </strong>
    <br />

    <div *ngFor="let toppingTypeName of toppingsOrdered | keyvalue ">
      <ion-item-divider style="font-weight: bold"
        >{{toppingTypeName.key}}</ion-item-divider
      >
<!-- add the variable toppingTypeName in '$any()' method   -->
      <ion-chip
        *ngFor="let modifier of $any(toppingTypeName).value;let idx_topping = index;" 
        (click)="selectTopping(modifier)"
        [color]="modifier.selected ? 'primary' : 'medium'"
        >{{modifier.toppingName}}</ion-chip
      >
    </div>

    <!-- <ion-button
      *ngFor="let modifier of product.productTopping;let idx_topping = index;"
      (click)="selectTopping(modifier, idx_topping)"
      [color]="modifier.selected ? 'primary' : 'medium'"
      >{{modifier.toppingName}}</ion-button
    > -->
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="addToCart()" color="primary" expand="full">
      ADD TO MY CAR
      <span *ngIf="offer?.idOffer > 0">(${{product.total}})</span></ion-button
    >
  </ion-toolbar>
</ion-footer>
