<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-back-button defaultHref="/pages/offers"></ion-back-button> -->
    </ion-buttons>
    <ion-title>My Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of list;let i = index;">
      <ion-label>
        {{item?.name}}
        <br />
        <ion-note> {{item?.address1}} </ion-note>
      </ion-label>
      <!-- <ion-toggle
        (ionChange)="change($event, item.idAddress)"
        [checked]="item?.byDefault"
        color="success"
      ></ion-toggle> -->
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button
    expand="block"
    [routerLink]="['/pages/my-wallet/add-payment-method']"
  >
    <ion-icon name="cart"></ion-icon>
    <ion-label style="text-align: center"> Add Payment Method </ion-label>
  </ion-button>
</ion-footer>
