<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
    <ion-buttons slot="end">
      <app-cart-status></app-cart-status>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div>
      <div *ngFor="let category of list | async;let category_idx = index;">
        <ion-item>
          <h4>{{category.category.name}}</h4>
          <ion-button color="light" fill="clear" slot="end">
            <ion-icon slot="icon-only" name="arrow-down-circle"></ion-icon>
          </ion-button>
        </ion-item>

        <div *ngFor="let subCategory of category.subCategories">
          <ion-item (click)="subCategory.show = !subCategory.show">
            {{subCategory.subCategory.name}}
            <ion-button color="light" fill="clear" slot="end">
              <ion-icon
                color="dark"
                slot="icon-only"
                [name]="!subCategory.show ? 'arrow-down-circle' : 'arrow-up-circle'"
              ></ion-icon>
            </ion-button>
          </ion-item>
          <ion-list [hidden]="!subCategory?.show">
            <ion-item *ngFor="let product of subCategory.products">
              <ion-thumbnail (click)="product.seeImage = !product?.seeImage">
                <img
                  [src]="product?.image ? 'data:image/jpeg;base64,' + product.image : 'assets/food.png'"
                />
              </ion-thumbnail>
              <ion-label
                >{{product.name}} - ${{product?.price || 0 | number}}</ion-label
              >
              <ion-button (click)="selectProduct(product)" fill="clear">
                <ion-icon
                  color="primary"
                  name="add-circle"
                  slot="icon-only"
                ></ion-icon>
              </ion-button>
              <br />
              <div
                (click)="product.seeImage = !product?.seeImage"
                *ngIf="product?.seeImage === true"
              >
                <img
                  [src]="product?.image ? 'data:image/jpeg;base64,' + product.image : 'assets/food.png'"
                />
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
