<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
   <div>
    <ion-item>
      <h4>Launch & Dinner</h4>
      <ion-button  color="light" fill="clear"  slot="end">
        <ion-icon slot="icon-only" name="arrow-down-circle"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      Appetizers
      <ion-button (click)="show = !show" color="light" fill="clear"  slot="end">
        <ion-icon slot="icon-only" name="arrow-down-circle"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-list [hidden]='!show'>
      <ion-item>
        <ion-icon color='primary' slot="start" name='refresh'></ion-icon>
        <ion-label>Item 1</ion-label>
        <ion-button fill="clear">
          <ion-icon color="light"  name="add-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-icon color='primary' slot="start" name='refresh'></ion-icon>
        <ion-label>Item 1</ion-label>
        <ion-button fill="clear">
          <ion-icon color="light"  name="add-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-icon color='primary' slot="start" name='refresh'></ion-icon>
        <ion-label>Item 1</ion-label>
        <ion-button fill="clear">
          <ion-icon color="light" name="add-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
   </div>
  </ion-list>
</ion-content>
