<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Offer To The Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          {{offer?.date | date}} - Total: {{offer?.total || 0 |
          number}}</ion-item
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>Products</ion-list-header>
    <ion-card *ngFor="let item of offer?.items">
      <ion-card-header>
        <ion-label
          ><h4 style="text-align: center; font-weight: bold">
            {{item.productName}}
          </h4></ion-label
        >
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row style="padding: 0px !important; margin-left: 0px !important">
            <ion-col>
              <ion-label> Qty </ion-label>
              <ion-label style="text-align: center">
                {{item.quantity || 0}}
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-text>Price: {{item.price}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>Tax: {{item.taxes}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>Total: {{item.total}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button color="danger" (click)="addClaim()" expand="full">
    ADD CLAIM
  </ion-button>
</ion-footer>
