<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages/offers"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center"
      >Add Offer: {{offer?.name || ""}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <h3>
          Aviable from <strong>{{offer?.startDate | date}}</strong> to
          <strong> {{offer?.endDate | date}} </strong> <br />
          <br />
          <!-- <app-count-down [endDate]="offer.endDate"></app-count-down> -->
        </h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header style="text-align: center; font-size: 2em"
      >Products</ion-list-header
    >

    <ion-item (click)="selectProduct(item)" *ngFor="let item of offer.products">
      <ion-thumbnail (click)="item.seeImage = !item?.seeImage">
        <img
          [src]="item?.image ? 'data:image/jpeg;base64,' + item.image : 'assets/food.png'"
        />
      </ion-thumbnail>
      <ion-label style="font-size: 1em; font-weight: bold">
        {{item.name || ''}} - Qty: {{item.quantity || 0}}
      </ion-label>
      <br />
      <div
        (click)="item.seeImage = !item?.seeImage"
        *ngIf="item?.seeImage === true"
      >
        <img
          [src]="item?.image ? 'data:image/jpeg;base64,' + item.image : 'assets/food.png'"
        />
      </div>
    </ion-item>
  </ion-list>
  <br />
  <div style="text-align: center; font-size: 2em">
    for only:
    <strong style="color: green">${{offer?.price || 0 | number}}</strong>
  </div>
</ion-content>

<ion-footer>
  <ion-button color="primary" (click)="addToCart()" expand="full">
    ADD OFFER
  </ion-button>
</ion-footer>
