<ion-header>
  <ion-toolbar>
    <ion-h2 color="gold">Terms and Conditions</ion-h2>
    <ion-buttons slot="end">
      <ion-button
        icon="close-circle"
        color="danger"
        (click)="close()"
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <article>
    <h2>TERMS AND CONDITIONS</h2>
    <p>
      These terms and conditions (the "Terms and Conditions") govern the use of
      Tierracolombiana (the "Site"). This Site is owned and operated by Tierra
      Colombiana Restaurant. This Site is an ecommerce website. By using this
      Site, you indicate that you have read and understand these Terms and
      Conditions and agree to abide by them at all times.
    </p>
  </article>
  <article>
    <h2>Intellectual Property</h2>
    <p>
      All content published and made available on our Site is the property of
      Tierra Colombiana Restaurant and the Site's creators. This includes, but
      is not limited to images, text, logos, documents, downloadable files and
      anything that contributes to the composition of our Site.
    </p>
  </article>
  <article>
    <h2>Age Restrictions</h2>
    <p>
      The minimum age to use our Site is 21 years old. By using this Site, users
      agree that they are over 21 years old. We do not assume any legal
      responsibility for false statements about age.
    </p>
  </article>
  <article>
    <h2>Sale of Goods And Services</h2>
    <p>
      These Terms and Conditions govern the sale of goods and services available
      on our Site. The following goods are available on our Site: - Food. The
      following services are available on our Site: - Food Delivery. The
      services will be paid for in full when the services are ordered. These
      Terms and Conditions apply to all the goods and services that are
      displayed on our Site at the time you access it. This includes all
      products listed as being out of stock. All information, descriptions, or
      images that we provide about our goods and services are as accurate as
      possible. However, we are not legally bound by such information,
      descriptions, or images as we cannot guarantee the accuracy of all goods
      and services we provide. You agree to purchase goods and services from our
      Site at your own risk. We reserve the right to modify, reject or cancel
      your order whenever it becomes necessary. If we cancel your order and have
      already processed your payment, we will give you a refund equal to the
      amount you paid. You agree that it is your responsibility to monitor your
      payment instrument to verify receipt of any refund.
    </p>
  </article>

  <article>
    <h2>Subscriptions</h2>
    <p>
      Your subscription does not automatically renew. You will be notified
      before your next payment is due and must authorize that payment in order
      for your subscription to continue.
    </p>
  </article>
  <article>
    <h2>Payments</h2>
    <p>
      We accept the following payment methods on our Site: - Credit Card; -
      PayPal; and - Debit. When you provide us with your payment information,
      you authorize our use of and access to the payment instrument you have
      chosen to use. By providing us with your payment information, you
      authorize us to charge the amount due to this payment instrument. If we
      believe your payment has violated any law or these Terms and Conditions,
      we reserve the right to cancel or reverse your transaction
    </p>
  </article>
  <article>
    <h2>Shipping and Delivery</h2>
    <p>
      When you purchase goods from our Site, the goods will be delivered through
      one of the following methods: <br />
      Delivery will take place as soon as reasonably possible, depending on the
      delivery method selected. Delivery times may vary due to unforseen
      circumstances. Please note that delivery times do not include weekends and
      statutory holidays. You will be required to pay delivery charges in
      addition to the price for the goods you purchase. You are required to
      provide us with a complete and accurate delivery address, including the
      name of the recipient. We are not liable for the delivery of your goods to
      the wrong address or wrong person as a result of you providing us with
      inaccurate or incomplete information.
    </p>
  </article>
  <article>
    <h2>Consumer Protection Law</h2>
    <p>
      Where any consumer protection legislation in your jurisdiction applies and
      cannot be excluded, these Terms and Conditions will not limit your legal
      rights and remedies under that legislation. These Terms and Conditions
      will be read subject to the mandatory provisions of that legislation. If
      there is a conflict between these Terms and Conditions and that
      legislation, the mandatory provisions of the legislation will apply.
    </p>
  </article>
  <article>
    <h2>Limitation of Liability</h2>
    <p>
      Tierra Colombiana Restaurant and our directors, officers, agents,
      employees, subsidiaries, and affiliates will not be liable for any
      actions, claims, losses, damages, liabilities and expenses including legal
      fees from your use of the Site.
    </p>
  </article>
  <article>
    <h2>Indemnity</h2>
    <p>
      Except where prohibited by law, by using this Site you indemnify and hold
      harmless Tierra Colombiana Restaurant and our directors, officers, agents,
      employees, subsidiaries, and affiliates from any actions, claims, losses,
      damages, liabilities and expenses including legal fees arising out of your
      use of our Site or your violation of these Terms and Conditions
    </p>
  </article>
  <article>
    <h2>Applicable Law</h2>
    <p>
      These Terms and Conditions are governed by the laws of the Commonwealth of
      Pennsylvania.
    </p>
  </article>
  <article>
    <h2>Severability</h2>
    <p>
      If at any time any of the provisions set forth in these Terms and
      Conditions are found to be inconsistent or invalid under applicable laws,
      those provisions will be deemed void and will be removed from these Terms
      and Conditions. All other provisions will not be affected by the removal
      and the rest of these Terms and Conditions will still be considered valid.
    </p>
  </article>
  <article>
    <h2>Changes</h2>
    <p>
      These Terms and Conditions may be amended from time to time in order to
      maintain compliance with the law and to reflect any changes to the way we
      operate our Site and the way we expect users to behave on our Site. We
      will notify users by email of changes to these Terms and Conditions or
      post a notice on our Site.
    </p>
  </article>
  <article>
    <h2>Contact Details</h2>
    <p>
      Please contact us if you have any questions or concerns. Our contact
      details are as follows: (215) 324-6086 tierracolombiana1@hotmail.com 4535
      N 5th street Philadelphia Pa 19140 You can also contact us through the
      feedback form available on our Site.
    </p>
  </article>
</ion-content>
