<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="gold">Change My Password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Current Password</ion-label>
        <ion-input
          [(ngModel)]="entity.current_password"
          type="password"
          name="current_password"
          placeholder="Current Password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input
          [(ngModel)]="entity.password"
          type="password"
          name="password"
          placeholder="New Password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input
          [(ngModel)]="entity.confirm_password"
          type="password"
          name="confirm_password"
          placeholder="Confirm Password"
        ></ion-input>
      </ion-item>
      <ion-button (click)="save()" expand="full"> Save </ion-button>
    </ion-list>
  </form>
</ion-content>
