<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="gold">Forgot Password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="person"> </ion-icon>
        <ion-label position="stacked"> Email </ion-label>
        <ion-input
          name="email"
          required
          [(ngModel)]="email"
          placeholder="email"
          type="email"
        ></ion-input>
      </ion-item>
      <ion-button (click)="save()" expand="full"> Save </ion-button>
    </ion-list>
  </form>
</ion-content>
