<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="person"> </ion-icon>
      <ion-label position="stacked"> Email </ion-label>
      <ion-input
        name="email"
        required
        [(ngModel)]="user.username"
        placeholder="email"
        type="email"
      ></ion-input>
    </ion-item>
    <ion-button expand="full"> Save </ion-button>
  </ion-list>
</ion-content>
