<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pages/my-order">
        <ion-icon name="cancel"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title color="gold">Checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item>
      <ion-label position="floating">Order Type</ion-label>
      <ion-select name="idOrderType" [(ngModel)]="checkout.idOrderType">
        <ion-select-option
          [value]="ot?.idOrderType"
          *ngFor="let ot of orderTypeList"
        >
          {{ot?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="checkout?.idOrderType === 2">
      <ion-label position="floating">Address</ion-label>
      <ion-select name="idAddress" [(ngModel)]="checkout.idAddress">
        <ion-select-option
          [value]="address?.idAddress"
          *ngFor="let address of addressList"
        >
          {{address?.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <!-- <ion-button (click)="saveOrderOnServer()">test saving to server</ion-button> -->
  <div
    [hidden]="(!checkout?.idOrderType) || (checkout?.idOrderType === 2 && !checkout?.idAddress)"
  >
    <!-- <div #paypalRef></div> -->
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</ion-content>

<ion-footer>
  <app-total-footer></app-total-footer>
</ion-footer>
