<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
   <ion-card *ngFor="let offer of list | async;let i = index">
     <ion-card-title>
       {{offer?.name || ''}}
     </ion-card-title>
     <ion-card-content>
       {{offer?.comment}}
       <br>
       <ion-chip>Product1</ion-chip> <ion-chip>Product1</ion-chip> <ion-chip>Product1</ion-chip> <ion-chip>Product1</ion-chip>
     </ion-card-content>
   </ion-card>
 </ion-list>

 {{test | async | json}}
</ion-content>
